<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:fragment="category">
    <div class="container">
        <table id="tableCat">
            <caption th:text="#{lang.category.name}">Category</caption>
            <tr>
                <td></td>
                <td>
                    <div th:id="'TCat'+${max}"></div>
                </td>
            </tr>
            <div th:each="cat:${categoryList}">
                <tr th:id="'TRCat'+${cat.getId()}">
                    <td><b><p th:id="'LCat'+${cat.getId()}" th:text="${cat.getName()}"></p></b></td>

                    <td><input type="text" th:id="'ICat'+${cat.getId()}" th:value="${cat.getName()}"/></td>
                    <td><input type="button" th:id="'ECat'+${cat.getId()}" th:value="#{admin.user.edit}"
                               th:onclick="'javascript:editCategory(\''+${cat.getId()}+'\');'"/></td>
                </tr>
            </div>
        </table>
    </div>

    <script src="/static/static/js/category_new.js"></script>
</div>

</body>
</html>