<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<div th:fragment="heder">

 <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
	        <div class="container">
	        	<div class="menuextras">
					<div class="extras">
						<ul>
							<li>
								<div class="dropdown choose-country">
									<a class="#" data-toggle="dropdown" href="#" ><img src="img/flags/network_local_2674.png"  alt="World"></a>
									<!--<img src="../../static/static/img/flags/globe_7793.png" height="128"height="32"  width="32"-->
											<!--width="128"/>-->
									<ul class="dropdown-menu" role="menu">
										<li role="menuitem"><a href="#" th:href="@{?locale=en}"><img src="img/flags/us.png" alt="United States"> US</a></li>
										<li role="menuitem"><a href="#" th:href="@{?locale=ua}"><img src="img/flags/ua.png" alt="Украина"> UA</a></li>
										<li role="menuitem"><a href="#" th:href="@{?locale=ru}"><img src="img/flags/ru.png" alt="Россия">RU</a></li>
									</ul>
								</div>
								<!--<div class="form-group col-lg-2">-->
									<!--<label>Country</label>-->
									<!--<select id="country" name="country" class="form-control">-->
										<!--<option value="1">Japan</option>-->
										<!--<option value="2">China</option>-->
										<!--<option value="3">New Zealand</option>-->
									<!--</select>-->
								<!--</div>-->
							</li>
			        		<li><a href="/login" th:text="#{lang.btn.login}">Login</a></li>
			        	</ul>
					</div>
		        </div>
		        <nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper"><a href="/"><img src="img/logo/FoundHelp-logo.png" alt="Multipurpose Twitter Bootstrap Template"></a></li>
						<li class="active">
							<a href="/" th:text="#{lang.index}">Home</a>
						</li>
						<li>
							<a href="/about" th:text="#{lang.futer.about}">About Us</a>
						</li>
						<li>
							<a href="/contact" th:text="#{lang.futer.contactus}">Contact Us</a>
						</li>
						<li>
							<a href="/faq" th:text="#{lang.futer.faq}">Frequently Asked Questions</a>
						</li>

						<li>
							<a href="/add-advt" th:text="#{lang.message.text}">Questions</a>
						</li>

						<!--<li class="has-submenu">-->
							<!--<a href="#">Pages +</a>-->
							<!--<div class="mainmenu-submenu">-->
								<!--<div class="mainmenu-submenu-inner"> -->

									<!---->
										<!--<div>-->
										<!--<h4>General Pages</h4>-->
										<!--<ul>-->
											<!--<li><a href="/about">About Us</a></li>-->
											<!--<li><a href="/contact">Contact Us</a></li>-->
											<!--<li><a href="/faq">Frequently Asked Questions</a></li>-->
											<!--&lt;!&ndash;<li><a href="page-testimonials-clients.html">Testimonials & Clients</a></li>&ndash;&gt;-->
											<!--<li><a href="/events">Events</a></li>-->
											<!--&lt;!&ndash;<li><a href="/page-404">404 Page</a></li>&ndash;&gt;-->
											<!--&lt;!&ndash;<li><a href="page-sitemap.html">Sitemap</a></li>&ndash;&gt;-->
											<!--<li><a href="/login">Login</a></li>-->
											<!--<li><a href="/register">Register</a></li>-->
											<!--<li><a href="/password-reset">Password Reset</a></li>-->
											<!--<li><a href="/terms-privacy">Terms & Privacy</a></li>-->
											<!--&lt;!&ndash;<li><a href="../page-coming-soon.html">Coming Soon</a></li>&ndash;&gt;-->
										<!--</ul>-->
									<!--</div>-->
									<!---->
								<!--</div>&lt;!&ndash; /mainmenu-submenu-inner &ndash;&gt;-->
							<!--</div>&lt;!&ndash; /mainmenu-submenu &ndash;&gt;-->
						<!--</li>-->

					</ul>
				</nav>
			</div>
        </div>
        <!--End Navigation & Logo-->

	<script>

        //     $.getElementById("#select_selector").on('change',function() {
        //         $.getElementById("#select_selector1 option").eq($(this).find(':selected').index()).prop('selected',true);
        //         // $(document).ready(function() { });
        // });
        // document.getElementById('#select_selector').on(change(function(){
        //     document.getElementById("#select_selector1 option").eq($(this).find(':selected').index()).prop('selected',true);
        // });
	</script>
</div>
</body>
</html>