<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<body>
<div th:fragment="rescss">
    <link rel="shortcut icon" type="image/png" href="../../../../uploads/favicon.ico"/>

    <link rel="stylesheet" href="/static/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/static/icomoon-social.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/static/my.css">
    <link rel="stylesheet" href="/static/static/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/static/static/leaflet.ie.css"/>
    <![endif]-->
    <link rel="stylesheet" href="/static/static/main.css">

    <script src="/static/static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>


    <!--<script href="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>-->

</div>

<!-- Ispolzuem
    <link rel="stylesheet" href="/static/static/bootstrap.min.static">

    <link rel="stylesheet" href="/static/static/icomoon-social.static">
    <link rel="stylesheet" href="/static/static/leaflet.static">
    <link rel="stylesheet" href="/static/static/leaflet.ie.static">
    <link rel="stylesheet" href="/static/static/main.static">

    <script src="/static/static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    End Ispolzuem -->

<!--<link rel="stylesheet" href="/static/static/less/variables.less">-->
<!--<link rel="stylesheet" href="/static/static/less/main.less">-->
<!--<link rel="stylesheet" href="/static/static/less/lesshat.less">-->
<!--<link rel="stylesheet" href="/static/static/less/general.less">-->
<!--<link rel="stylesheet" href="/static/static/less/components.less">-->

<!--<link rel="stylesheet" href="/static/static/bootstrap.static">-->
<!--<link rel="stylesheet" href="/static/static/bootstrap-theme.static">-->
<!--<link rel="stylesheet" href="/static/static/coming-soon-social.static">-->

<!--<link rel="stylesheet" href="/static/static/my.static">-->

<!--<script src="/static/static/js/jquery.bxslider.js"></script>-->
<!--<script src="/static/static/js/bootstrap.js"></script>-->
<!--<script src="/static/static/js/fragments.js"></script>-->
<!--<script src="/static/static/js/my_js.js"></script>-->

<!--<script src="/static/static/js/main-menu.js"></script>-->
<!--<script src="/static/static/js/jquery-1.9.1.min.js"></script>-->
<!--<script src="/static/static/js/jquery.sequence-min.js"></script>-->
<!--<script src="/static/static/js/jquery.sequence.js"></script>-->
<!--<script src="/static/static/js/jquery.fitvids.js"></script>-->
<!--<link rel="stylesheet" href="/static/static/less/variables.less">-->
<!--<link rel="stylesheet" href="/static/static/less/main.less">-->
<!--<link rel="stylesheet" href="/static/static/less/lesshat.less">-->
<!--<link rel="stylesheet" href="/static/static/less/general.less">-->
<!--<link rel="stylesheet" href="/static/static/less/components.less">-->
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"-->
<!--crossorigin="anonymous">-->
</body>
</html>

