<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<body>
<div th:fragment="rescss">
    <link rel="shortcut icon" type="image/png" href="../../../../uploads/favicon.ico"/>

    <link rel="stylesheet" href="/static/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/static/icomoon-social.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/static/my.css">
    <link rel="stylesheet" href="/static/static/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/static/static/leaflet.ie.css"/>
    <![endif]-->
    <link rel="stylesheet" href="/static/static/main.css">

    <script src="/static/static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>




</div>

</body>
</html>

