<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:fragment="subcategory">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
        <div class="container">
            <div class="row">
                <div id="app"></div>
                <script src="/static/static/js/subcategory.js"></script>
            </div>
        </div>
</div>
</body>
</html>