html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}
.error{
    color: red;
}

.clip {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    background: #fc0; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */

}
.clip1 {
    width: 200px;
    overflow: hidden;
    /*или overflow-x: hidden - разницы нет*/
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border: 1px solid red;
}
#bt{
    color: white;
}
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}
/*a:link { color: red; }*/
/*a:visited { color: grey; }*/
/*a:hover { color: blue; }*/
/*a:active { background-color: yellow; }*/
.my_a:link{
    color: #5CB85C;
}
.my_a:visited{
    color: #5CB85C;
}
.my_a:hover{
    color: white;
}
.my_a:active {
    background-color: yellow;
}
.imgMy img {
    object-fit: cover;
    /*width: 100%;*/
    height: 200px;
}
