<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:fragment="diagram">

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3_1">
                Logo
            </a>
        </div>
        <div id="collapse3_1" class="accordion-body collapse">
            <div class="accordion-inner">
                <img src="/project/logo/LostAndFound-logo.png" alt="Logo"/>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3_2">
                Диаграмма классов
            </a>
        </div>
        <div id="collapse3_2" class="accordion-body collapse">
            <div class="accordion-inner">
                <img src="/project/diagram/diagramma.png" alt="Diagram page"/>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div id="guest">

                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3_3">
                    Диаграмма Гость
                </a>
            </div>
        </div>
        <div id="collapse3_3" class="accordion-body collapse">
            <div class="accordion-inner">
                <a href="/about-project/guest"> <img src="/project/diagram/Guest.png" alt="Diagram page"/></a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div id="user">

                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3_4">
                    Диаграмма Пользователь
                </a></div>
        </div>
        <div id="collapse3_4" class="accordion-body collapse">
            <div class="accordion-inner">
                <a href="/about-project/user"> <img src="/project/diagram/User.png" alt="Diagram page"/></a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div id="a_user">

                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3_5">
                    Диаграмма Админ вкладка Пользователь
                </a>
            </div>
        </div>
        <div id="collapse3_5" class="accordion-body collapse">
            <div class="accordion-inner">
                <a href="/about-project/admin#us"> <img src="/project/diagram/Admin_user.png" alt="Diagram page"/></a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div id="d_cat">

                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3_6">
                    Диаграмма Админ вкладка Категории
                </a></div>
        </div>
        <div id="collapse3_6" class="accordion-body collapse">
            <div class="accordion-inner">
                <a href="/about-project/admin#cat">
                    <img src="/project/diagram/Admin_category.png" alt="Diagram page"/></a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div id="sub">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3_7">
                    Диаграмма Админ вкладка Подкатегории
                </a>
            </div>
        </div>
        <div id="collapse3_7" class="accordion-body collapse">
            <div class="accordion-inner">
                <a href="/about-project/admin#subcat">
                    <img src="/project/diagram/Admin_subcategory.png" alt="Diagram page"/></a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div id="city">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3_8">
                    Диаграмма Админ вкладка Города
                </a>
            </div>
        </div>
        <div id="collapse3_8" class="accordion-body collapse">
            <div class="accordion-inner">
                <a href="/about-project/admin#city">
                    <img src="/project/diagram/Admin_city.png" alt="Diagram page"/></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>