<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="errorPage">
    <div class="container">
        <h1>Страницы ошибок</h1>

        <!--
           These are the thumbnail images.
           They are laid out using the
           bootstrap grid.
           I have given them all the class
           "crop-image" which I use in the
           css and the javascript code.
        -->
        <div class="row">
            <div class="col-sm-2 ">
                <div class="imgMy1">

                    <img class="crop-img"
                         src="/project/err/page_400.png"
                         alt="Page-400"/>
                </div>
            </div>
            <div class="col-sm-2 imgMy1">

                <img class="crop-img"
                     src="/project/err/page_401.png"
                     alt="Page-401"/>
            </div>
            <div class="col-sm-2 imgMy1">
                <img class="crop-img"
                     src="/project/err/page_404.png"
                     alt="Page-404"/>
            </div>
            <div class="col-sm-2 imgMy1">
                <img class="crop-img"
                     src="/project/err/page_415.png"
                     alt="Page-415"/>
            </div>
            <div class="col-sm-2 imgMy1">
                <img class="crop-img"
                     src="/project/err/page_500.png"
                     alt="Page-500"/>
            </div>
        </div>
        <div class="row">
            <div style="padding: 15px">
                <div class="col-md-10 imgMy2">
                    <img id="bigImage"
                         class="large-img"
                         src="/project/err/page_404.png"
                         alt="Big img"/>
                </div>
            </div>
        </div>
    </div>
    <script>
        var thumbs = document.querySelectorAll('.crop-img');
        console.log(thumbs[0]);

        function clickThumb(ev) {
            var targetSrc = this.getAttribute('src');
            var newIm;
            console.log(targetSrc);
            document.querySelector('.large-img').src = targetSrc;
            console.log(newIm);
        }

        for (let i = 0; i < thumbs.length; i++) {
            thumbs[i].addEventListener('click', clickThumb)
        }
    </script>
</div>

</body>
</html>