<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="user">
    <a href="/about-project/diagram#user">
        <h3>Пользаватель </h3></a>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse13">
                Вход через соцсети
            </a>
        </div>
        <div id="collapse13" class="accordion-body collapse">
            <div class="accordion-inner">

                <div class="mainContainer">
                    <div class="phenakistoscope-container">
                        <img src="/project/img-project/registration_img_1.png" alt="Registration page"/>
                        <svg class="mask" width="100%" height="100%" viewbox="0  0 500 500 ">
                            <rect id="svgEditorBackground" x="0" y="0" width="500" height="500"
                                  style="fill: none; stroke: none;"/>
                            <!---300 -50 700 -50 700 250 500 250 500 350 700 350 700 600 -300 600 -300 -50-->
                            <polyline style="stroke:black;fill:black;stroke-width:1px;opacity:0.78" id="e4_polyline"
                                      points="-300 -50 700 -50 700 150 200 150 200 250 700 250 700 600 -300 600 -300 -50"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse14">
                Вход зарегистрированным пользователям
            </a>
        </div>
        <div id="collapse14" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="mainContainer">
                    <div class="phenakistoscope-container">
                        <img src="/project/img-project/registration_img_1.png" alt="Registration page"/>
                        <svg class="mask" width="100%" height="100%" viewbox="0  0 500 500 ">
                            <rect id="svgEditorBackground" x="0" y="0" width="500" height="500"
                                  style="fill: none; stroke: none;"/>
                            <polyline style="stroke:black;fill:black;stroke-width:1px;opacity:0.78" id="e4_polyline"
                                      points="-300 -50 700 -50 700 500 -300 500 -300 350 200 350 200 160 -300 160 -300 -50"/>

                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse21">
                Предоставить возможность подать обьявление(только зарегистрированные пользователи)
            </a>
        </div>
        <div id="collapse21" class="accordion-body collapse">
            <div class="accordion-inner">
                <img src="/project/img-project/add_advt.png" alt="Add page"/>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse22">
                Отобразить поданные обьявления
            </a>
        </div>
        <div id="collapse22" class="accordion-body collapse">
            <div class="accordion-inner">
                <img src="/project/img-project/advt.png" alt="Advt page"/>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse24">
                Предоставить зарегистрированному пользователю персональную страницу
            </a>
        </div>
        <div id="collapse24" class="accordion-body collapse">
            <div class="accordion-inner">
                <img src="/project/img-project/personal_page.png" alt="Personal page"/>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse25">
                Дать возможность зарегистрированному пользователю просматривать сообщения пришедшие на его обьявление
            </a>
        </div>
        <div id="collapse25" class="accordion-body collapse">
            <div class="accordion-inner">
                <!--poster="/img/img-project/personal_page.png"-->
                <video width="920" height="550" controls="controls">
                    <source src="/project/video/user_view_advt_message.mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse26">
                Дать возможность зарегистрированному пользователю скрыть или удалить сообщения пришедшие на его
                обьявление
            </a>
        </div>
        <div id="collapse26" class="accordion-body collapse">
            <div class="accordion-inner">
                <video width="920" height="550" controls="controls"
                       poster="/project/img-project/hide_unhide_delete_message.png">
                    <source src="/project/video/hide_unhide_delete_message.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse28">
                Возможность добавления обьявления
            </a>
        </div>
        <div id="collapse28" class="accordion-body collapse">
            <div class="accordion-inner">
                <video width="920" height="550" controls="controls" poster="/project/img-project/add_advt_new.png">
                    <source src="/project/video/add_advt.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse27">
                Возможность редактирования обьявления
            </a>
        </div>
        <div id="collapse27" class="accordion-body collapse">
            <div class="accordion-inner">

                <video width="920" height="550" controls="controls" poster="/project/img-project/add_advt_new.png">
                    <source src="/project/video/advt_edit.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse29">
                Возможность удаления обьявления
            </a>
        </div>
        <div id="collapse29" class="accordion-body collapse">
            <div class="accordion-inner">

                <video width="920" height="550" controls="controls" poster="/img/project/img-project/delete_advt.png">
                    <source src="/project/video/advt_delete.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse38">
                Предоставить возможность заблокированому пользователю отправить
                сообщение админу
            </a>
        </div>
        <div id="collapse38" class="accordion-body collapse">
            <div class="accordion-inner">
                <video width="920" height="550" controls="controls">
                    <source src="/project/video/admin_user_message.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
</div>
</body>
</html>