<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:fragment="admin">
<h3> Администратор</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse31">
                Зарегистрированному пользователю с ролью "Админ" предоставить дополнительные возможности по управлению веб сервисом
            </a>
        </div>
        <div id="collapse31" class="accordion-body collapse">
            <div class="accordion-inner">
                <video width="920" height="550" controls="controls" poster="/project/img-project/go_adminka.png">
                    <source src="/project/video/adminka.mp4" type='video/mp4'>
                </video>

            </div>
        </div>
    </div>
    <div id="us">
   <a href="/about-project/diagram"> <h3> Администратор вкладка Пользователь</h3></a><!-- - Обьявления-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse32">
                Aдминистратор имеет возможность просматривать список пользователей
            </a>
        </div>
        <div id="collapse32" class="accordion-body collapse">
            <div class="accordion-inner">
                <video width="920" height="550" controls="controls" poster="/project/img-project/adminka.png">
                    <source src="/project/video/list_user.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse33">
                Просматривать персональные страницы пользователей
            </a>
        </div>
        <div id="collapse33" class="accordion-body collapse">
            <div class="accordion-inner">
                <video width="920" height="550" controls="controls" poster="/project/img-project/adminka.png">
                    <source src="/project/video/admin_user_page.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse34">
                Удалять обьявления пользователей
            </a>
        </div>
        <div id="collapse34" class="accordion-body collapse">
            <div class="accordion-inner">
                <video width="920" height="550" controls="controls" poster="/project/img-project/adminka.png">
                    <source src="/project/video/admin_user_advt_delete.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse35">
                Редактировать обьявления пользователей
            </a>
        </div>
        <div id="collapse35" class="accordion-body collapse">
            <div class="accordion-inner">
                <video width="920" height="550" controls="controls" poster="/project/img-project/adminka.png">
                    <source src="/project/video/admin_user_adv_edit.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>

    <!--<h3> Администратор вкладка Пользователь - Роли</h3>-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse36">
                Предусмотреть задания определенных ролей зарегистрированным пользователям
            </a>
        </div>
        <div id="collapse36" class="accordion-body collapse">
            <div class="accordion-inner">
                <!--poster="/img/img-project/adminka.png"-->
                <video width="920" height="550" controls="controls" >
                    <source src="/project/video/admin_user_role.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    <!--<h3> Администратор вкладка Пользователь - Блокировать/Удалить </h3>-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse37">
                Предусмотреть блокирование активности пользователя
            </a>
        </div>
        <div id="collapse37" class="accordion-body collapse">
            <div class="accordion-inner">
                <!--poster="/img/img-project/adminka.png"-->
                <video width="920" height="550" controls="controls" >
                    <source src="/project/video/admin_user_ban.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse39">
                Возможность удаления пользователя из базы
            </a>
        </div>
        <div id="collapse39" class="accordion-body collapse">
            <div class="accordion-inner">
                <!--poster="/img/img-project/adminka.png"-->
                <video width="920" height="550" controls="controls" >
                    <source src="/project/video/admin_user_delete.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    </div>
    <div id="cat">
        <a href="/about-project/diagram#d_cat">
         <h3> Администратор вкладка Категории </h3></a>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse44">
                Возможность редактирования категорий
            </a>
        </div>
        <div id="collapse44" class="accordion-body collapse">
            <div class="accordion-inner">
                <!--poster="/img/img-project/adminka.png"-->
                <video width="920" height="550" controls="controls" >
                    <source src="/project/video/admin_edit_category.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    </div>
    <div id="subcat">
        <a href="/about-project/diagram#sub">
        <h3> Администратор вкладка Податегории </h3></a>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse40">
                Возможность добавления подкатегорий
            </a>
        </div>
        <div id="collapse40" class="accordion-body collapse">
            <div class="accordion-inner">
                <!--poster="/img/img-project/adminka.png"-->
                <video width="920" height="550" controls="controls" >
                    <source src="/project/video/admin_subcategory_add.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse41">
                Возможность редактирования подкатегорий
            </a>
        </div>
        <div id="collapse41" class="accordion-body collapse">
            <div class="accordion-inner">
                <!--poster="/img/img-project/adminka.png"-->
                <video width="920" height="550" controls="controls" >
                    <source src="/project/video/admin_subcategory_edit.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse42">
                Возможность удаления подкатегорий
            </a>
        </div>
        <div id="collapse42" class="accordion-body collapse">
            <div class="accordion-inner">
                <!--poster="/img/img-project/adminka.png"-->
                <video width="920" height="550" controls="controls" >
                    <source src="/project/video/admin_subcategory_delete.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
    </div>
    <div id="city">
    <a href="/about-project/diagram">
        <h3> Администратор Города </h3></a>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse45">
                Редактирование название городов
            </a>
        </div>
        <div id="collapse45" class="accordion-body collapse">
            <div class="accordion-inner">
                <!--poster="/img/img-project/adminka.png"-->
                <video width="920" height="550" controls="controls" >
                    <source src="/project/video/admin_edit_city.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse47">
                Добавить название города
            </a>
        </div>
        <div id="collapse47" class="accordion-body collapse">
            <div class="accordion-inner">
                <!--poster="/img/img-project/adminka.png"-->
                <video width="920" height="550" controls="controls" >
                    <source src="/project/video/admin_add_city.mp4" type='video/mp4'>
                </video>
            </div>
        </div>
    </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse46">
                    Удаление названий городов
                </a>
            </div>
            <div id="collapse46" class="accordion-body collapse">
                <div class="accordion-inner">
                    <!--poster="/img/img-project/adminka.png"-->
                    <video width="920" height="550" controls="controls" >
                        <source src="/project/video/admin_delete_city.mp4" type='video/mp4'>
                    </video>
                </div>
            </div>
        </div>
</div>

    <div id="mess">
        <a href="/about-project/diagram">
            <h3> Администратор Сообщения </h3></a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse43">
                    Сообщения от незарегистрированных посетителей
                </a>
            </div>
            <div id="collapse43" class="accordion-body collapse">
                <div class="accordion-inner">
                    <!--poster="/img/img-project/adminka.png"-->
                    <video width="920" height="550" controls="controls" >
                        <source src="/project/video/message_to_admin.mp4" type='video/mp4'>
                    </video>
                </div>
            </div>
        </div>
    </div>
    </div>


</body>
</html>