<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->


<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title th:text="#{personal.admin}">Lost-and-Found</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!---->

    <div th:insert="~{fragments/resursCSS.html :: rescss}"></div>

    <script href="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script>

    </script>
</head>

<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<!-- Navigation & Logo-->
<div class="conteiner">
    <div th:insert="~{fragments/heder::heder}"></div>
</div>

<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 th:text="#{admin.user.panel}">Blog Post (Left Sidebar)</h1>
            </div>
        </div>
    </div>
</div>
<!--modal-->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="adminModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="nameCat" style="text-align: center">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <input hidden="hidden" th:name="idCat" id="idCat"/>
                        <input type="text" name="subcategory" id="subcategory"
                               th:placeholder="#{lang.category.subcategory}"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="btn_admin" type="submit"
                            th:onclick="'javascript:addSubCategory();'" data-dismiss="modal"
                            th:text="#{lang.btn.add}"></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/modal-->
<!--Left-->
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-3 col-sm-4 col-md-4 col-xs-12  blog-sidebar">
                <h3 th:text="#{admin.menu}">Admin menu</h3>
                <ul class="recent-posts">
                    <li class="dropdown">
                        <a class=" dropdown-toggle" data-toggle="dropdown" href="#"><span th:text="#{lang.users}">Користувачі</span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/user-detalis" th:text="#{users.detail}">User detalis</a></li>
                            <li><a href="/admin/user"> <span th:text="#{users.ban}"></span> / <span
                                    th:text="#{lang.btn.delete}"></span></a></li>
                            <li><a href="/admin/user-role" th:text="#{user.role}">Role</a></li>
                        </ul>
                    </li>
                    <li><a href="/admin/citys" th:text="#{lang.city}">Міста</a></li>

                    <li><a href="/admin/category_new" th:text="#{lang.category.name}">Category</a></li>
                    <li><a href="/admin/subcategory" th:text="#{lang.category.subcategory}">Subcategory</a></li>
                </ul>
            </div>
            <!-- End Sidebar -->
            <!--Right-->
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="blog-post blog-single-post">
                    <div th:if="${admin_start}">
                        <div class="single-post-title" style="text-align: center;padding: 5px">
                            <h3 th:text="#{admin.title}">Admin Title</h3>
                        </div>
                        <div th:if="${user_count}" style="text-align: left">
                            <h3 th:text="#{admin.title.user}">Пользователей </h3>
                            <input hidden="hidden" th:id="countUser" th:value="${user_count}"/>
                            <b><span id="usr" style="text-align: center ;color: #3e8f3e; font-size: 5rem"></span></b>
                        </div>
                        <div th:if="${advt_count}" style="text-align: center">
                            <input hidden="hidden" th:id="countAdvt" th:value="${advt_count}"/>
                            <h3 th:text="#{admin.title.advt}">Обьявлений</h3>
                            <b><span id="advt" style="color:#2aabd2;font-size: 5rem "></span></b>
                        </div>
                        <div th:if="${mes_count}" style="text-align:right">
                            <h3 th:text="#{admin.title.message}">Сообщений </h3>
                            <input hidden="hidden" th:id="countMess" th:value="${mes_count}"/>
                            <b><span id="mes" style="text-align: center ;color: #985f0d; font-size: 5rem"></span></b>
                        </div>
                    </div>

                    <div th:if="${userList}">
                        <div class="single-post-title" style="text-align: center;padding: 5px">
                            <h3 th:text="#{users.title}">User Title</h3>
                        </div>
                        <div th:insert="~{fragments/user.html :: user}"></div>
                    </div>
                    <div th:if="${user}">Not</div>
                    <!--End user-->
                    <div th:if="${subcategory}">
                        <div class="single-post-title" style="text-align: center;padding: 5px">
                            <h3 th:text="#{admin.subcategory}">Subcategory Title</h3>
                        </div>
                        <div th:insert="~{fragments/subcategory.html :: subcategory}"></div>
                    </div>
                    <div th:if="${categoryList}">
                        <div class="single-post-title" style="text-align: center;">
                            <h3 th:text="#{lang.category.name}">Category Title</h3>
                        </div>
                        <div th:insert="~{fragments/category-new.html :: category}"></div>
                    </div>
                    <div th:if="${cityList}">
                        <div class="single-post-title" style="text-align: center;padding: 5px">
                            <h3 th:text="#{admin.city}">City Title</h3>
                        </div>
                        <div th:insert="~{fragments/city-new.html :: city}"></div>
                    </div>
                </div>
            </div> <!-- End Comment Form -->

        </div>
        <!-- End Comments -->
    </div>
</div>
<!-- End Blog Post -->
<!-- Footer -->
<div th:insert="~{fragments/footer.html :: footer}"></div>
<!--End Footer -->
<!-- Javascripts -->
<script src="../static/static/js/adm.js"></script>
<div th:insert="~{fragments/resursJS.html :: resursJS}"></div>
</body>
</html>
