<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title th:text="#{login.social.login}">Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
		<div th:insert="~{fragments/resursCSS.html :: rescss}"></div>



    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

			<!-- Navigation & Logo-->
		<div class="conteiner" >
			<div th:insert="~{fragments/heder::heder}"></div>
		</div>

			<!--End Navigation & Logo-->

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h1 th:text="#{login.social.login}">Login</h1>
					</div>
				</div>

				<div th:if="${param.logout}" >
					<p th:text="#{lang.out.profile}">Ви вийшли з свого профілю.</p>
					<!--<a href="/" th:href="@{/}" th:text="#{lang.index}">Головна</a>-->
				</div>
		</div>
		</div>
        
        <div class="section">
	    	<div class="container">


				<div class="row">

					<div class="col-sm-5">
						<div >
							<div class="error" th:if="${param.error}" >
								<p th:text="#{lang.login.error}">Невірно вказане імя або пароль.</p>
							</div>
						</div>
						<div class="basic-login">
							<form th:action="@{/login}"   method="post">
								<div class="form-group">
									<!--for="login-username"role="form"-->
		        				 	<label ><i class="icon-user"></i> <b th:text="#{login.social.email}">Username or Email</b></label>
									<input class="form-control" id="email" name="username" type="text" placeholder="">
								</div>
								<div class="form-group">
									<!--for="login-password"-->
		        				 	<label ><i class="icon-lock"></i> <b th:text="#{login.social.password}">Password</b></label>
									<input class="form-control" id="password" name="password" type="password" placeholder="">
								</div>
								<div class="form-group">
									<label class="checkbox" >
										<input type="checkbox" th:text="#{login.social.remembe}">
									</label>
									<a href="/reset-password" class="forgot-password" th:text="#{login.social.fogot}">Forgot password?</a>
									<button type="submit" class="btn pull-right" th:text="#{login.social.login}">Login</button>
									<!--<div class="clearfix"></div>-->
								</div>
							</form>
						</div>
					</div>
					<div class="col-sm-7 social-login">
						<p th:text="#{lang.register.social}">Or login with your Facebook or Twitter</p>
						<div class="social-login-buttons">
							<a th:href="@{/login/facebook}" class="btn-facebook-login" th:text="#{login.social.facebook}">Login with Facebook</a>
							<!--<a th:href="@{/login/twitter}" class="btn-twitter-login" th:text="#{login.social.twitter}" >Login with Twitter</a>-->
							<a  th:href="@{/login/google}" class="btn-google-login" th:text="#{login.social.google}" >Login with Google</a>
						</div>
						<div class="clearfix"></div>
						<div class="not-member">
							<!--Register here-->
							<p ><span th:text="#{login.social.register}"></span><a href="/register" th:text="#{login.social.register1}"></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

	<!-- Footer -->
		<div th:insert="~{fragments/footer.html :: footer}"></div>
	<!--End Footer -->
        <!-- Javascripts -->
		<div th:insert="~{fragments/resursJS.html :: resursJS}"></div>



    </body>
</html>