<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!---->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title th:text="#{thing}">Page Thing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <div th:insert="~{fragments/resursCSS.html :: rescss}"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

</head>
<body>
<!-- Navigation & Logo-->


<div th:insert="~{fragments/heder::heder}"></div>
<!--End Navigation & Logo-->

<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
                <h1 th:text="#{thing}">Thing Listing </h1>
            </div>
    </div>
        <div class="container">
            <a href="#" class="my_a" onclick="toggle_show('sear')"  th:text="#{lang.search}">Search</a>
            <div id="sear" style="display:none;">
                <div th:insert="~{fragments/search::search}"></div><br/>
            </div>
        </div>
        <div class="container">
            <br/>
            <div class="col-6 col-lg-4 col-sm-6 col-md-6 col-xs-6">
            <a href="#" class="my_a" data-toggle="collapse" data-target="#demo" th:text="#{lang.title.add}">Add
                    advt</a>

                <div id="demo" class="collapse row">
                    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6">
                        <form action="/advt/add-advt" method="get">
                            <input hidden="hidden" type="text" name="status" value="Знайденно"/>
                            <input hidden="hidden" type="text" name="url" value="/view/thing-found"/>
                            <input hidden="hidden" type="text" name="category" th:value="${category}"/>
                            <button class=" btn-green " style="width: 100%; text-align: left " type="submit"
                                    href="/add-advt" th:text="#{lang.btn.found}">Повідомити про Знайденно
                            </button>
                        </form>
                    </div>
                    <div class="col-6 col-lg-4 col-sm-6 col-md-6 col-xs-6">
                        <form action="/advt/add-advt" method="get">
                            <input hidden="hidden" type="text" name="url" value="/view/thing-lost"/>
                            <input hidden="hidden" type="text" name="status" th:value="${status}"/>
                            <input hidden="hidden" type="text" id="category" name="category" th:value="${category}"/>
                            <button class="btn-red " style="width: 100%; text-align: center" type="submit"
                                    href="/add-advt" th:text="#{lang.btn.lost}">Повідомити про втрату
                            </button>
                        </form>
                    </div>
                </div>
                <br/>
            </div>

        </div>
    </div>

</div>

<div class="container" >
    <div th:insert="~{fragments/modal::modal}"></div>
</div>

<h3 th:if="${searchMessage}" th:text="#{searchMessage}" style="text-align: center; font-size: 4rem"></h3>
<div class="container">
    <div th:insert="~{fragments/advt::adver}"></div>
</div>

<!-- Footer -->
<div th:insert="~{fragments/footer.html :: footer}"></div>
<!--End Footer -->
<!-- Javascripts -->

<div th:insert="~{fragments/resursJS.html :: resursJS}"></div>
<script src="../static/static/js/my_js.js"></script>
</body>
</html>

