<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title th:text="#{reset.password}"></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
		<div th:insert="~{fragments/resursCSS.html :: rescss}"></div>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
		<!-- Navigation & Logo-->
		<div class="conteiner" >
			<div th:insert="~{fragments/heder::heder}"></div>
		</div>
		<!--End Navigation & Logo-->
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 th:text="#{reset.password}" >Password Reset</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<div class="basic-login">
							<form>
								<div class="form-group">
		        				 	<label for="restore-email"><i class="icon-envelope"></i> <b th:text="#{reset.email}">Enter Your Email</b></label>
									<input class="form-control" id="restore-email" type="text" placeholder="">
								</div>
								<div class="form-group">
									<button type="submit" class="btn pull-right" th:text="#{reset.password}">Reset Password</button>
									<div class="clearfix"></div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- Footer -->
		<div th:insert="~{fragments/footer.html :: footer}"></div>
	<!--End Footer -->
        <!-- Javascripts -->
		<div th:insert="~{fragments/resursJS.html :: resursJS}"></div>
		<script src="jquery.min.js"></script>
		<script th:inline="javascript">
            var serverContext ='[[@{/}]]';
                function resetPass(){
                    var email = $("#email").val();
                    $.post(serverContext + "user/resetPassword",{email: email} ,
                        function(data){
                            window.location.href =
                                serverContext + "login?message=" + data.message;
                        })
                        .fail(function(data) {
                            if(data.responseJSON.error.indexOf("MailError") > -1)
                            {
                                window.location.href = serverContext + "emailError.html";
                            }
                            else{
                                window.location.href =
                                    serverContext + "login?message=" + data.responseJSON.message;
                            }
                        });
                }

		</script>
    </body>
</html>