<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title th:text="#{lang.title.add}">Add Advt Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <div th:insert="~{fragments/resursCSS.html :: rescss}"></div>
    <link rel="stylesheet" href="/static/static/my.css">
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
            <!--integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
            <!--crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
            <!--integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
            <!--crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
            <!--integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
            <!--crossorigin="anonymous"></script>-->

    <!--<script>-->
        <!--var $ = jQuery.noConflict();-->
    <!--</script>-->

</head>
<body>

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->


<!-- Navigation & Logo-->
<div class="conteiner">
    <div th:insert="~{fragments/heder::heder}"></div>
</div>

<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <!--<div class="row"> </div>class="col-md-4"-->
            <div >
                <h1 th:text="#{advert.title.add}">Add advert</h1>
            </div>
            <!--<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]</h2>-->


    </div>
</div>
<!--End Page Title -->
<div class="section">
    <div class="container">
        <!--<div class="row"class="col-sm-6">-->
            <!--<div style="text-align: center">-->
                <!--<h3 th:text="#{lang.contactUs.messageUser}">Send Us a Message</h3>-->
            <!--</div>-->
                <form action="/advt/add-advt" method="post"
                      enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12" style="text-align: center">
                                <div class="form-group">

                                        <div ><h3 th:text="${status}"><b>Status</b></h3></div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                       <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                            <div class="form-group">
                                <div style="margin-bottom:-15px;height: 30px">
                                <div class="error" th:if="${categoryEr}" th:text="#{lang.category.error}">Name Error
                                </div></div>
                                <label for="subcategory" th:text="#{lang.category}"><b>Category</b> </label><br/>
                                <select class="form-control" id="subcategory" name="subcategory">
                                    <option value="" th:text="#{lang.select.category}">Виберіть категорію</option>
                                    <option th:each="subcategory : ${categoryList}"
                                            th:if="${subcategory.name}!='Not name'"
                                            th:value="${subcategory.id}"
                                            th:text="${subcategory.name}">
                                    </option>
                                </select>
                                <br/>
                            </div>
                        </div>

                       <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                            <div class="form-group">
                                <div style="margin-bottom:-15px;height: 30px">
                                <div class="error" th:if="${cityEr}" th:text="#{lang.city.error}">Name Error</div>
                                </div>
                                <label for="City" th:text="#{lang.city.insert}"><b>City</b> </label><br/>
                                <div class="ui-widget" th:data-tip="#{toltip.city}">
                                    <!--style="width: 100px;height: 25px"-->
                                    <input class="form-control" id="lang1"/>
                                    <!--<div id="listCity" style=""></div>-->

                                    <select class="form-control" id="City" name="city" onclick="clearInput()" style="height: 30px;display:none;" >
                                        <option th:text="#{lang.city}">City</option>
                                    </select>

                                    <!--<div id="langsList">-->

                                    <!--</div>-->

                                </div>
                            </div>
                        </div>
                    </div>
                        <!--<br/>-->
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                           <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                            <div class="form-group">
                                    <div class="error" th:if="${textAdverEr}" th:text="#{lang.text.error}">Name Error</div>
                                    <label for="textAdvt" th:text="#{lang.ad.text}"></label>
                                    <textarea class="form-control" rows="5" name="textAdvt" id="textAdvt"
                                              th:placeholder="#{lang.ad.text}"></textarea>
                                    <br/>
                                </div>
                            </div>
                        </div>

                       <div class="col-lg-6 col-sm-8 col-md-6 col-xs-12">
                           <div class="col-lg-4 col-sm-6 col-md-6 col-xs-8" style="margin-left:-10px">
                                <div class="form-group">
                                    <div style="margin-bottom:-15px;height: 30px">
                                    <div class="error" th:if="${dataSotpEr}" th:text="#{lang.data.error}">Name Error</div>
                                    </div>
                                    <label th:text="#{lang.data}"><b>Дата</b> </label><br/>
                                    <input type="date" name="dataStart" style="width: 100%"/>
                                </div>
                            </div>

                            <div class="col-lg-5 col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div style="height: 43px; " >
                                    </div>
                                    <div id="btn">
                                        <!--<br/>-->
                                    <label class="btn-blue" for="files" th:text="#{lang.add.img}">Додати
                                        зображення</label>
                                        <br/>
                                    </div>
                                    <div id="fp"></div>
                                    <div id="fp1" style="display: none" th:text="#{lang.add.img.error}"></div>
                                    <input id="files" type="file" name="file" style="visibility:hidden;"
                                       accept=".jpg,.jpeg,.png" onchange="alertFilename()"/>
                                </div>

                            </div>
                        </div>
                        <!--style="margin-top:-10%"-->
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" >
                                <div class="form-group">
                                <input type="checkbox" id="contract" checked="checked"  />
                                <a href="/terms-privacy" th:text="#{terms.use}">Погоджуюсь з умовами використання веб сервісу</a>
                                </div>
                            </div>
                         </div>


                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                       <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8" style="text-align: center">
                            <div class="form-group">
                                <input hidden="hidden" type="text" name="url" id="url" th:value="${url}">
                                <input hidden="hidden" type="text" name="status" id="status" th:value="${status}">
                                <input hidden="hidden" type="text" name="category" id="category" th:value="${category}">
                                <button class="btn-red" type="submit" id="submit1" th:text="#{lang.btn.send}">
                                    Відправити
                                </button>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </div>
                        </div>

                    </div>
                </form>
            </div>



        <!--<div class="col-sm-6">-->

        <!--</div>-->

    </div>
<!--</div>--><!--</div>-->

    <!-- Footer -->
    <div th:insert="~{fragments/footer.html :: footer}"></div>

    <!--End Footer -->

    <!-- Javascripts -->
    <div th:insert="~{fragments/resursJS.html :: resursJS}"></div>


<script src="/static/static/js/my_js.js"></script>
<script src="/static/static/js/advt.js"></script>

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <!--<script src="/static/static/js/bootstrap.min.js"></script>-->
    <!--<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>-->
    <!--<script src="/static/static/js/jquery.fitvids.js"></script>-->
    <!--<script src="/static/static/js/jquery.sequence-min.js"></script>-->
    <!--<script src="/static/static/js/jquery.bxslider.js"></script>-->
    <!--<script src="/static/static/js/main-menu.js"></script>-->
    <!--<script src="/static/static/js/template.js"></script>-->
</body>
</html>


