<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>mPurpose - Multipurpose Feature Rich Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <div th:insert="~{fragments/resursCSS.html :: rescss}"></div>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->
<!-- Navigation & Logo-->
<div class="conteiner">
    <div th:insert="~{fragments/heder::heder}"></div>
</div>
<!--End Navigation & Logo-->
<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Умови та конфіденційність</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 th:text="#{terms.agreement}">Користувацька угода.</h2>
                <b><p th:text="#{terms.agreement.a}">Ця Угода визначає умови використання Користувачами матеріалів і
                    сервісів сайту <span style="font-size:large;font-style: italic">Lost and Found</span> <span
                            th:text="#{terms.agreement.aa}">(далі — «Сайт»).</span></p></b>
                <h4 th:text="#{terms.agreement.b}">1. Загальні умови</h4>
                <p th:text="#{terms.agreement.b.a}">1.1. Використання матеріалів і сервісів Сайту регулюється нормами
                    чинного законодавства України.</p>
                <p th:text="#{terms.agreement.b.b}">1.2. Ця Угода є публічною офертою. Отримуючи доступ до матеріалів
                    Сайту Користувач вважається таким, що приєдналося до даної Угоди.</p>
                <p th:text="#{terms.agreement.b.c}">1.3. Адміністрація Сайту має право у будь-який час в односторонньому
                    порядку змінювати умови цієї Угоди. Такі зміни набувають чинності після закінчення 3 (Трьох) днів з
                    моменту розміщення нової версії Угоди на сайті. При незгоді Користувача з внесеними змінами він
                    зобов'язаний відмовитися від доступу до Сайту, припинити використання матеріалів і сервісів
                    Сайту.</p>
                <h4 th:text="#{terms.agreement.c}">2. Зобов'язання Користувача</h4>
                <p th:text="#{terms.agreement.c.a}">2.1. Користувач погоджується не робити дій, які можуть розглядатися
                    такими, що порушують українське законодавство або норми міжнародного права, у тому числі у сфері
                    інтелектуальної власності, авторських і/або суміжних правах, а також будь-яких дій, які приводять
                    або можуть привести до порушення нормальної роботи Сайту і сервісів Сайту.</p>
                <p th:text="#{terms.agreement.c.b}">2.2. Використання матеріалів Сайту без згоди правовласників не
                    допускається. Для правомірного використання матеріалів Сайту потрібне укладення ліцензійних
                    договорів (отримання ліцензій) від Правовласників.</p>
                <p th:text="#{terms.agreement.c.c}"> 2.3. При цитуванні матеріалів Сайту, включаючи авторські твори, що
                    охороняються, посилання на Сайт обов'язкове.</p>

                <p th:text="#{terms.agreement.c.d}"> 2.4. Коментарі і інші записи Користувача на Сайті не повинні
                    вступати в протиріччя з вимогами законодавства України і загальноприйнятих норм моралі і
                    моральності.</p>

                <p th:text="#{terms.agreement.c.e}"> 2.5. Користувач попереджений про те, що Адміністрація Сайту не несе
                    відповідальності за відвідування і використання ним зовнішніх ресурсів, посилання на які можуть
                    міститися на сайті.</p>

                <p th:text="#{terms.agreement.c.f}"> 2.6. Користувач згоден з тим, що Адміністрація Сайту не несе
                    відповідальності і не має прямих або непрямих зобов'язань перед Користувачем у зв'язку з будь-якими
                    можливими або виниклими втратами або збитками, пов'язаними з будь-яким змістом Сайту, реєстрацією
                    авторських прав і відомостями про таку реєстрацію, товарами або послугами, доступними на або
                    отриманими через зовнішні сайти або ресурси або інші контакти Користувача, в які він вступив,
                    використовуючи розміщену на Сайті інформацію або посилання на зовнішні ресурси.</p>

                <p th:text="#{terms.agreement.c.g}"> 2.7. Користувач приймає положення про те, що усі матеріали і
                    сервіси Сайту або будь-яка їх частина можуть супроводжуватися рекламою. Користувач згоден з тим, що
                    Адміністрація Сайту не несе якої-небудь відповідальності і не має яких-небудь зобов'язань у зв'язку
                    з такою рекламою.</p>
                <h4 th:text="#{terms.agreement.d}">3. Інші умови</h4>
                <p th:text="#{terms.agreement.d.a}">3.1. Усі можливі спори, похідні від цієї Угоди або пов'язані з нею,
                    підлягають вирішенню відповідно до чинного законодавства України.</p>
                <p th:text="#{terms.agreement.d.b}">3.2. Ніщо в Угоді не може розумітися як встановлення між
                    Користувачем і Адміністрації Сайту агентських стосунків, стосунків товариства, стосунків по спільній
                    діяльності, стосунків особистого найму, або якихось інших стосунків, прямо не передбачених
                    Угодою.</p>
                <p th:text="#{terms.agreement.d.c}">3.3. Визнання судом як ого-небудь положення Угоди недійсним або
                    таким, що не підлягає примусовому виконанню не тягне за собою визнання недійсними інших положень
                    Угоди.</p>
                <p th:text="#{terms.agreement.d.d}">3.4. Бездіяльність з боку Адміністрації Сайту у разі порушення
                    ким-небудь з Користувачів положень Угоди не позбавляє Адміністрацію Сайту права зробити пізніше
                    відповідні дії на захист своїх інтересів і захист авторських прав на матеріали Сайту, що
                    охороняються відповідно до законодавства.</p>

                <b><p th:text="#{terms.end}">Користувач підтверджує, що ознайомлений з усіма пунктами цієї Угоди і
                    безумовно приймає їх.</p></b>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:insert="~{fragments/footer.html :: footer}"></div>
<!--End Footer -->
<!-- Javascripts -->
<div th:insert="~{fragments/resursJS.html :: resursJS}"></div>

</body>
</html>