<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>mPurpose - Multipurpose Feature Rich Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <div th:insert="~{fragments/resursCSS.html :: rescss}"></div>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->
<!-- Navigation & Logo-->
<div class="conteiner">
    <div th:insert="~{fragments/heder::heder}"></div>
</div>
<!--End Navigation & Logo-->
<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 th:text="#{faq}">Frequently Asked Questions</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 faq-wrapper">
                <div class="panel-group" id="accordion2">
                    <h3 th:text="#{faq.general}">General Questions</h3>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               href="#collapse11" th:text="#{faq.general.registration}">
                            </a>
                        </div>
                        <div id="collapse11" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="answer" th:text="#{faq.answer}">Answer:</div>
                                <p th:text="#{faq.general.registration.answer}"></p>
                                <a href="/register"><span th:text="#{faq.general.registration.linck}"> </span></a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               href="#collapse12" th:text="#{faq.general.advt}">

                            </a>
                        </div>
                        <div id="collapse12" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="answer" th:text="#{faq.answer}">Answer:</div>
                                <p th:text="#{faq.general.advt.answer}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               href="#collapse13" th:text="#{faq.general.message}">
                            </a>
                        </div>
                        <div id="collapse13" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="answer" th:text="#{faq.answer}">Answer:</div>
                                <p th:text="#{faq.general.message.answer}"></p>
                            </div>
                        </div>
                    </div>
                    <h3 th:text="#{faq.user}"></h3>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               href="#collapse21" th:text="#{faq.user.edit}">
                            </a>
                        </div>
                        <div id="collapse21" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="answer" th:text="#{faq.answer}">Answer:</div>
                                <p th:text="#{faq.user.edit.answer}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               href="#collapse22" th:text="#{faq.user.delete}">
                            </a>
                        </div>
                        <div id="collapse22" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="answer" th:text="#{faq.answer}">Answer:</div>
                                <p th:text="#{faq.user.delete.answer}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:insert="~{fragments/footer.html :: footer}"></div>
<!--End Footer -->
<!-- Javascripts -->
<div th:insert="~{fragments/resursJS.html :: resursJS}"></div>

</body>
</html>