<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>About project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">


		<div th:insert="~{fragments/resursCSS.html :: rescss}"></div>

<style>
	.mainContainer {
		display: table-cell;
	}
	.phenakistoscope-container {
		padding: 1px;
		position: relative;
	}
	.mask {
		position: absolute;
		z-index: 99;
		top: 0;
		left: 0;
	}
	.settings-container {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.settings-container div {
		margin-bottom: 10px;
	}
	.partially-visible {
		margin-top: -350px;
	}
</style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

			<!-- Navigation & Logo-->
		<div class="conteiner" >
			<div th:insert="~{fragments/heder::heder}"></div>
		</div>
			<!--End Navigation & Logo-->
			
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Frequently Asked Questions</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 faq-wrapper">
						<div class="panel-group" id="accordion2">
							<h3> Требования к веб сервису</h3>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
										Отображение главной страницы
									</a>
								</div>
								<div id="collapse11" class="accordion-body collapse">
									<div class="accordion-inner">
										<img src="/img/img-project/index_img.png"  alt="Index page"/>
										<!--<div class="answer">Answer:</div>height="684" width="1285"798 L340 570 L455 570 L520 798 L798 798 L79 L0 798 8 0 L0 0 Z-->
										<!--V500 H500  V0 H0 z-->
										<!--<path d="M -300 -50 L800 -50 L800 450 L-100 450 L-100 650 L100 650 " fill="black" stroke-width="10" opacity="0.78"></path>-->
										<!--H-300 500  zL700 0<rect x="-299" y="0" width="800" height="500" fill="black"   opacity="0.78"  />-->
										<!--<rect x="500" y="0" width="400" height="300" fill="black"   opacity="0.78"  />-->
										<!--L455 570 L0 700stroke="navy"-->


										<!--<div class="mainContainer">-->
											<!--<div class="phenakistoscope-container">-->
										<!---->
										<!--<svg class="mask" width="100%" height="100%" viewbox="0  0 500 500 ">-->

											<!--<rect id="svgEditorBackground" x="0" y="0" width="500" height="500" style="fill: none; stroke: none;"/>-->
																								<!--&lt;!&ndash;212 43 638 41 645 245 516 242 517 354 641 353 640 421 207 414 213 42&ndash;&gt;-->
<!--<polyline style="stroke:black;fill:black;stroke-width:1px;opacity:0.78" id="e4_polyline" points="-300 -50 700 -50 700 250 500 250 500 350 700 350 700 600 -300 600 -300 -50"/>-->
											<!---->
										<!--</svg>-->
												<!---->
											<!--</div>-->
										<!--</div>-->

									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse12">
										Мультиязычность сервиса
									</a>
								</div>
								<div id="collapse12" class="accordion-body collapse">
									<div class="accordion-inner">
										<!--<div class="answer">Answer:</div>-->
										<!--<img src="/img/img-project/multilanguage_img.png" alt="Multilanguage"/>-->
                                        <video width="900" height="300" controls="controls" poster="/img/img-project/multilanguage_img.png">
<source src="/img/img-project/multilanguage.mp4" type='video/mp4'>
                                        </video>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse13">
										Вход через соцсети
									</a>
								</div>
								<div id="collapse13" class="accordion-body collapse">
									<div class="accordion-inner">
										<!--<div style="background: /img/img-project/index_img.png"></div>-->
										<!--<div class="answer">Answer:</div>-->

										<!--<div class="answer">Answer:</div>height="684" width="1285"798 L340 570 L455 570 L520 798 L798 798 L79 L0 798 8 0 L0 0 Z-->
										<div class="mainContainer">
											<div class="phenakistoscope-container">
												<img src="/img/img-project/registration_img.png"  alt="Registration page"/>
												<svg class="mask" width="100%" height="100%" viewbox="0  0 500 500 ">

													<rect id="svgEditorBackground" x="0" y="0" width="500" height="500" style="fill: none; stroke: none;"/>
																																				<!---300 -50 700 -50 700 250 500 250 500 350 700 350 700 600 -300 600 -300 -50-->
													<polyline style="stroke:black;fill:black;stroke-width:1px;opacity:0.78" id="e4_polyline" points="-300 -50 700 -50 700 150 200 150 200 250 700 250 700 600 -300 600 -300 -50"/>

												</svg>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse14">
										Вход зарегистрированным пользователям
									</a>
								</div>
								<div id="collapse14" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="mainContainer">
											<div class="phenakistoscope-container">
												<img src="/img/img-project/registration_img.png"  alt="Registration page"/>
												<svg class="mask" width="100%" height="100%" viewbox="0  0 500 500 ">

													<rect id="svgEditorBackground" x="0" y="0" width="500" height="500" style="fill: none; stroke: none;"/>
													<!---300 -50 700 -50 700 250 500 250 500 350 700 350 700 600 -300 600 -300 -50 //150 -100 150 -100 250 700 250600//-300 -50 700 -50 700 600 -300 600 -300 400 -200 400 -100  300  -300 -50-->
																																				 <!-- 167 94,  529 91,528 343,162 337, 164 243, 297 243 300 156 170 153 168.034 93.7585-->
													<polyline style="stroke:black;fill:black;stroke-width:1px;opacity:0.78" id="e4_polyline" points="-300 -50 700 -50 700 500 -300 500 -300 350 200 350 200 160 -300 160 -300 -50"/>

												</svg>

											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse21">
										Предоставить возможность подать обьявление(только зарегистрированные пользователи)
									</a>
								</div>
								<div id="collapse21" class="accordion-body collapse">
									<div class="accordion-inner">
										<img src="/img/img-project/add_advt.png"  alt="Add page"/>

									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse22">
                                        Отобразить поданные обьявления
									</a>
								</div>
								<div id="collapse22" class="accordion-body collapse">
									<div class="accordion-inner">
                                        <img src="/img/img-project/advt.png"  alt="Advt page"/>
										</div>
								</div>
							</div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse23">
                                        Дать возможность незарегистрированному пользователю отправить обращение на обьявление
                                    </a>
                                </div>
                                <div id="collapse23" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <!--<img src="/img/img-project/advt_message.png"  alt="Advt message"/>-->
										<video width="920" height="550" controls="controls" poster="/img/img-project/advt_message.png">
											<source src="/img/img-project/advt_message.mp4" type='video/mp4'>
										</video>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse24">
                                        Предоставить зарегистрированному пользователю персональную страницу
                                    </a>
                                </div>
                                <div id="collapse24" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <img src="/img/img-project/personal_page.png"  alt="Personal page"/>
                                    </div>
                                </div>
                            </div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse25">
										Дать возможность  зарегистрированному пользователю просматривать сообщения пришедшие на его обьявление
									</a>
								</div>
								<div id="collapse25" class="accordion-body collapse">
									<div class="accordion-inner">
										<img src="/img/img-project/personal_page.png"  alt="Personal page"/>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse26">
										Дать возможность  зарегистрированному пользователю скрыть или удалить сообщения пришедшие на его обьявление
									</a>
								</div>
								<div id="collapse26" class="accordion-body collapse">
									<div class="accordion-inner">
										<video width="920" height="550" controls="controls" poster="/img/img-project/hide_unhide_delete_message.png">
											<source src="/img/img-project/hide_unhide_delete_message.mp4" type='video/mp4'>
										</video>

									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse28">
										Возможность добавления обьявления
									</a>
								</div>
								<div id="collapse28" class="accordion-body collapse">
									<div class="accordion-inner">
										<video width="920" height="550" controls="controls" poster="/img/img-project/add_advt_new.png">
											<source src="/img/img-project/add_advt.mp4" type='video/mp4'>
										</video>

									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse27">
										Возможность редактирования обьявления
									</a>
								</div>
								<div id="collapse27" class="accordion-body collapse">
									<div class="accordion-inner">

										<video width="920" height="550" controls="controls" poster="/img/img-project/add_advt_new.png">
											<source src="/img/img-project/edit_advt.mp4" type='video/mp4'>
										</video>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse29">
										Возможность удаления обьявления
									</a>
								</div>
								<div id="collapse29" class="accordion-body collapse">
									<div class="accordion-inner">

										<video width="920" height="550" controls="controls" poster="/img/img-project/delete_advt.png">
											<source src="/img/img-project/delete_advt.mp4" type='video/mp4'>
										</video>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse30">

									</a>
								</div>
								<div id="collapse30" class="accordion-body collapse">
									<div class="accordion-inner">


									</div>
								</div>
							</div>
                            <h3>Orders</h3>
							<h3>Our Services</h3>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse31">
										Дать возможность  зарегистрированному пользователю скрыть или удалить сообщения пришедшие на его обьявление
									</a>
								</div>
								<div id="collapse31" class="accordion-body collapse">
									<div class="accordion-inner">


									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse32">
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem?
									</a>
								</div>
								<div id="collapse32" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="answer">Answer:</div>
										<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>

	<!-- Footer -->
		<div th:insert="~{fragments/footer.html :: footer}"></div>
	<!--End Footer -->
        <!-- Javascripts -->
		<div th:insert="~{fragments/resursJS.html :: resursJS}"></div>

    </body>
</html>